.card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 1rem;
    background-color: var(--secondary-background-color);
    width: 450px;
    flex: 1 1 300px;
    transition: all 0.3s ease-in-out;
}

.card:hover{
    transform: scale(1.02);
}

.card:hover img{
    transform: scale(1.02);
}

.imgCont{
    width: 150px;
    height: 150px;
    border-radius: var(--border-radius);
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
}

.imgCont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease-in-out;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
}

.content h3{
    font-size: 2rem;
    font-weight: bold;
}

.content p{
    font-size: 1.3rem;
    color: var(--primary-color);
}