.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.description h1 {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--primary-text);
}

.job{
    font-size: 1.1rem;
    color: var(--secondary-text);
}

.location{
    font-size: 1rem;
    color: var(--tertiary-text);
}

.contact{
    display: flex;
    gap: 1rem;
    text-decoration: none;
    color: var(--tertiary-text);
    transition: all 0.3s ease;
    cursor: pointer;
}

.contact:hover{
    color: var(--primary-text);
}