.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: min(90% , 980px);
}

.menu h2{
    margin-top: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.8rem;
    position: relative;
    padding: 0.4rem 0;
}

.menu h2::before,
.menu h2::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: var(--text-primary);
}

.menu h2::before{
    top: 0;
}

.menu h2::after{
    bottom: 0;
}

