.pizza-list{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.menu-intro{
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-align: center;
    width: 50%;
}

@media (max-width: 768px){
    .pizza-list{
        width: 100%;
        grid-template-columns: 1fr;
    }

    .menu-intro{
        width: 100%;
    }
}