.card {
    flex: 1 1 350px;
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--secondery-background-color);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    position: relative;
}

.outofstock{
    opacity: 0.5;
}

.stock{
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    color: var(--primary-text-color);
    padding: 0.5rem;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}

.in-stock{
    background-color: var(--in-stock-color);
}

.out-of-stock{
    background-color: var(--out-of-stock-color);
}

.img{
    width: 100%;
    height: 230px;
    overflow: hidden;
}

.img img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--primary-text-color);
}

.content h3{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.content p{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2;
    color: var(--tritary-text-color);
    background-color: var(--tritary-background-color);
    text-align: center;
    padding: 0.5rem;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}
