@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  gap: 2rem;
}

.container h1{
  font-family: "Poiret One", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
  text-transform: uppercase;
}

.container h1::after{
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 2px;
  background-color: var(--text-secondary);
}
