footer{
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    color: var(--tertiary-text);
    border-top: 1px solid var(--border-color);
    line-height: 1.5;
    text-align: justify;
    text-justify: inter-word;
}